[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "extern/tracy"]
	path = extern/tracy
	url = https://github.com/wolfpld/tracy
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb/
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
